
:root {
  --bg-primary: #E4E6ED;
  --button-primary: #1877f2;
}

body {
  background-color: var(--bg-primary);
}

.box-shadow {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.rounded-sm {
  border-radius: 0.5em; 
}

.rounded-md {
  border-radius: 0.8rem; 
}
